// Nav wrapper
.nav-wrapper {
  padding: 1rem 0;
  @include border-top-radius($card-border-radius);

  + .card {
    @include border-top-radius(0);
    @include border-bottom-radius($card-border-radius);
  }
}


// Tab links

.tab-link {
  color: $tab-link-color;

  &:hover {
    background-color: $tab-link-hover-background-color;
    color: $tab-link-hover-color;
  }

  i.ni {
    position: relative;
    top: 2px;
  }
}
